<!DOCTYPE html>
<html>
<head>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
<meta charset="ISO-8859-1">
<title>Login</title>
</head>
 <body ng-app="myApp" class="ng-cloak">
 <div class="container-fluid">
	<div class="generic-container" ng-controller="loginController as ctrl">
<!-- <div class="alert alert-info">
    Username: test<br />
    Password: test
</div> -->
<div ng-show="ctrl.user.errorMessage" class="alert alert-danger">{{ctrl.user.errorMessage}}</div>
<form name="form"  role="form">
    <div class="form-group">
        <label for="username">Username</label>
        <i class="fa fa-lock"></i>
        <input type="text" name="username" id="username" class="form-control" ng-model="LoginEmail" required />
        <span ng-show="form.username.$dirty && form.username.$error.required" class="help-block">Username is required</span>
    </div>
    <div class="form-group">
        <label for="password">Password</label>
        <i class="fa fa-key"></i>
        <input type="password" name="password" id="password" class="form-control" ng-model="LoginPassword" required />
        <span ng-show="form.password.$dirty && form.password.$error.required" class="help-block">Password is required</span>
    </div>
    <div class="form-actions">
        <button type="submit" ng-disabled="form.$invalid || dataLoading" ng-click="login()" class="btn btn-danger">Login</button>
    </div>
</form>
</div>

 </div>
    

</body>
</html>