<html>
<body ng-app="myApp" ng-controller="userController">
	<div></div>
	<!-- <div ng-repeat="user in allusers">
		<span style="font-size: x-large">{{user.username}}</span><br>
		<i class=""></i>&nbsp&nbsp{{user.email}}
		<button class="btn btn-success btn-sm"
										ng-click="sendFriendRequset(user.userId)">
										<i class="fa fa-user-plus" aria-hidden="true"></i>&nbsp Send
										Request
									</button>
									 <button class="btn btn-primary btn-sm"
										ng-click="removeFriendRequset(user.userId)">
										<i class="fa fa-user-plus" aria-hidden="true"></i>&nbsp Undo
										Request
									</button>
									<button class="btn btn-danger btn-sm"
										ng-click="removeFriendRequset(user.userId)">
										<i class="fa fa-user-plus" aria-hidden="true"></i>&nbsp Remove
										Friend
									</button> --> 
	<!-- 	<br />
	</div>
 -->
<div class="container">

		<div class="col-md-4 col-md-offset-4">
			<button class="btn btn-success btn-block"
				ng-click="viewFriendRequset();">
				Friend Requests
			</button>
		</div>
<div >
		<div class="col-md-6 col-md-offset-3">
			<div class="panel-group" >
				<div class="panel panel-default" ng-repeat="user in friendrequest"
					style="margin-top: 40px">

					<div class="panel-body">
						<img ng-src="resources/images/{{user.friendId.email}}.jpg "
							class="img-circle" style="float: left; margin-right: 20px"
							width="80" height="80"
							onerror="this.src='resources/images/login.png'" width="80"
							height="80" id="sm_profilepic" /> <span
							style="font-size: x-large">{{user.friendId.username}}</span></br> <i
							class="fa fa-map-marker" aria-hidden="true"></i>&nbsp&nbsp{{user.friendId.address}}

						
					</div>
					 

					<div class="panel-footer">
						<button class="btn btn-success btn-sm"
							ng-click="acceptFriendRequset(user.friendId.userId);">
							<i class="fa fa-user-plus" aria-hidden="true"></i>&nbsp ACCEPT
						</button>
</div>

						<button class="btn btn-danger btn-sm pull-right"
							ng-click="rejectFriendRequset(user.friendId.userId);">
							<i class="fa fa-user-times" aria-hidden="true"></i>&nbsp REJECT
						</button>

					</div>
				</div>

				<hr />


			</div>
		</div>

	</div>






<div class="container">

		<h1>My Friends</h1>

		<div class="col-md-6 col-md-offset-3">


			<div class="panel-group" ng-show="friends">
				<div class="panel panel-default" ng-repeat="user in friends"
					style="margin-top: 20px">

					<div ng-if="user.status == 'ACCEPTED'">

						<div class="panel-body">
							 <span style="font-size: x-large">{{user.friendId.username}}</span><br>
							<i class="fa fa-envelope-o" aria-hidden="true"></i>&nbsp&nbsp{{user.friendId.email}}<br />

						</div>
						<div class="pull-right">
								<a href="#/Chat/{{user.friendId.email}}"
									class="btn btn-primary btn-sm">Chat</a>
							</div>

						
							</div>
							

						</div>
					</div>

				</div>
			</div>


<div class="container">
		
				


				<div class="panel-group" ng-show="allusers">
					<div class="panel panel-default"
						ng-repeat="user in allusers | filter:searchText as results"
						style="margin-top: 40px">

						<div class="panel-body">
				
							 <span style="font-size: x-large">{{user.username}}</span><br> <i
								class="" aria-hidden="true"></i>&nbsp&nbsp{{user.city}}

						



							
							</div>
							<div class="panel-footer">

								<div ng-if="( user.isFriend != 'ACCEPTED' && user.isFriend != 'SENT' )">

									<button class="btn btn-success btn-sm"
										ng-click="sendFriendRequset(user.userId)">
										<i class="fa fa-user-plus" aria-hidden="true"></i>&nbsp Send
										Request
									</button>
								</div>

								<div ng-if="( user.isFriend == 'SENT' )">

									<button class="btn btn-primary btn-sm"
										ng-click="removeFriendRequset(user.userId)">
										<i class="fa fa-user-plus" aria-hidden="true"></i>&nbsp Undo
										Request
									</button>
								</div>

								<div ng-if="( user.isFriend == 'ACCEPTED' )">

									<button class="btn btn-danger btn-sm"
										ng-click="removeFriendRequset(user.userId)">
										<i class="fa fa-user-plus" aria-hidden="true"></i>&nbsp Remove
										Friend
									</button>
								</div>
								
								<br>
                
								
							
						</div>
					</div>

					
				</div>
			</div>
</body>
</html>